{% extends 'efr8/base.html' %}
{% load staticfiles %}

{% block main %}
<h3>Liner Manifest List</h3>
    {% if manifest_list|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-sm border">
                Port
                </div>
                <div class="col-sm border">
                Vessel
                </div>
                <div class="col-sm border">
                ETA
                </div>
                <div class="col-sm border">
                Container No.
                </div>
                <div class="col-sm border">
                Size
                </div>
                <div class="col-sm border">
                Type
                </div>
                <div class="col-sm border">
                Delivery
                </div>
                <div class="col-sm border">
                Transporter
                </div>
                <div class="col-sm border">
                ICD / CFS
                </div>
            </div>

            {% for item in manifest_list %}
                <div class="row">
                    <div class="col-sm border">
                        {{item.destination_port}}
                    </div>
                    <div class="col-sm border">
                        {{item.vessel}}
                    </div>
                    <div class="col-sm border">
                        {{item.eta_date}}, {{item.eta_time}} 
                    </div>
                    <div class="col-sm border">
                        {{item.container_number}}
                    </div>
                    <div class="col-sm border">
                        {{item.container_size}} feet
                    </div>
                    <div class="col-sm border">
                        {{item.container_type}}
                    </div>
                    <div class="col-sm border">
                        {{item.delivery_type}}
                    </div>
                    <div class="col-sm border">
                        {{item.transporter}}
                    </div>
                    <div class="col-sm border">
                        {{item.icd_cfs}}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h5>No data. <a href="/liner-create-manifest/">Click here</a> to add your first manifest.</h5>
    {% endif %}
{% endblock main%}
{% block js %}
  {{block.super}}
  <script type="text/javascript">
        CSRF_TOKEN = '{{ csrf_token }}'
  </script>
  <script type="text/javascript" src="{% static 'efr8/js/create_manifest.js' %}"></script>
{% endblock js %}
